# Hugo output
/public/
/site/public/

# Hugo cache
/site/resources/_gen/

# Node/npm (если используешь)
node_modules/
package-lock.json
yarn.lock

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
